# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
venv_stable/
ENV/
env/

# Environment Variables
.env
.env.test
.env.local

# IDEs
.vscode/
.idea/

# Project Specific
data/
outputs/
*.pdf
install_err.txt
